<div id='itemDiv' class='glOverlay'>
	<div id='leftSide'>
		<i id='leftArrow' class='fa fa-chevron-left glCGreen glClickable' (click)='scrollBigImage(false)'></i>
		<i id='rightArrow' class='fa fa-chevron-right glCGreen glClickable' (click)='scrollBigImage(true)'></i>
		<div id='bigImageDiv' 
			(mouseleave)='mouseLeave($event)'
		    (mouseenter)='mouseEnter($event)'
			(mousemove)='mouseMove($event)'>
			<div id='loupe'>
			</div>
			<div *ngFor='let image of item.imageList; let i=index;' 
				 style.left='{{image.shift}}%'
			     class='bigImageWrapper'>
			     	<img src='images/{{image.mediumImage}}' class='itemImage'>
			</div>
		</div>	
		<div id='imageList'>
			<div *ngFor='let image of item.imageList; let i=index;'
				 style.left='{{image.smallShift}}%'
				 (click)='smallImageSelect(i)'
			     class='smallImageWrapper glClickable'>
			     	<img src='images/{{image.smallImage}}' class='itemImage'>
			</div>
		</div>
	</div>
	<div id='rightSide'>
		<div id='loupeImageDiv'>
			<img id='loupeImageFragment' src='images/{{loupeFragment}}'>
		</div>
		<div id='dataDiv'>
			<div id='discountDiv' *ngIf='item.discount>0'>
				save<br>{{item.discount}}%
			</div>
			<div id='nameDiv'>
				{{item.name}}
			</div>
			<div class='rateDiv'>
				<span *ngFor='let rateElement of item.rateArray'>						
					<i class='fa fa-star glCGreen' *ngIf='rateElement==1'></i>
					<i class='fa fa-star-half-full glCGreen' *ngIf='rateElement>0&&rateElement<1'></i>
					<i class='fa fa-star-o glCGreen' *ngIf='rateElement==0'></i>
				</span>					
			</div>
			<div id='idDiv'>
				code:{{item.id}}
			</div>
			<div id='priceDiv'>
				<b>{{item.discountPrice.toFixed(2)}}$</b>
				<del *ngIf='item.discount>0'>
					{{item.price.toFixed(2)}}$
				</del>
			</div>
			<div class='buyButton glBtn medium glBgGreen glClickable' (click)='buyItem()'>buy <i class='fa fa-cart-plus'></i></div>
			<div id='socNetwork'>
				<span>Share with your friends:</span>
				<br>
				<br>
				<a href='http://facebook.com' target='_blank'><i class='fa fa-facebook-official glCGreen glClickable'></i></a>
				<a href='http://twitter.com' target='_blank'><i class='fa fa-twitter glCGreen glClickable'></i></a>
				<a href='http://skype.com' target='_blank'><i class='fa fa-skype glCGreen glClickable'></i></a>
				<a href='http://youtube.com' target='_blank'><i class='fa fa-youtube glCGreen glClickable'></i></a>				
			</div>
			<div class='compareButton glBtn small glBgGreen glClickable' (click)='addToCompareItem()'>Compare +</div>
			<compare-items></compare-items>
		</div>
	</div>
	<ul id='viewList' class='glBgGrey'>
		<li 
			[ngClass]="{'glBGGreenHover':true,'glClickable':true,'glBgGreen':detailBlockIndex==0}"
			(click)='detailBlockIndex=0'>
			Description
		</li>
		<li 
			[ngClass]="{'glBGGreenHover':true,'glClickable':true,'glBgGreen':detailBlockIndex==1}"
			(click)='detailBlockIndex=1'>
			Characteristics
		</li>
		<li 
			[ngClass]="{'glBGGreenHover':true,'glClickable':true,'glBgGreen':detailBlockIndex==2}"
			(click)='detailBlockIndex=2'>
			Review
		</li>
	</ul>
	<div id='detailDiv'>
		<div id='descriptionDiv' *ngIf='detailBlockIndex==0'>
			<b>{{item.shortDescription}}</b>
			<br><br>
			<span>{{item.description}}</span>
		</div>
		<div id='detailDiv' *ngIf='detailBlockIndex==1'>
			<table>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
				<tr *ngFor='let property of itemProperties;'>
					<td>
						{{property.name}}
					</td>
					<td>
						{{property.value}}
					</td>
				</tr>
			</table>
		</div>
		<div id='reviewDiv' *ngIf='detailBlockIndex==2'>
			Here will be displayed customer feedbacks
		</div>
	</div>
	<last-viewed-items></last-viewed-items>
</div>