#itemDiv {
	min-height: 100vh;
	background-color: rgb( 250,250,250);
	color: #888888;		
	vertical-align: middle;
	overflow: auto;
}
#leftSide {
	margin: -1px;
	width: 50%;
	padding-top: 61%;
	display: inline-block;
	/*border: 1px solid black;*/
	position: relative;
	overflow: auto;
}
#bigImageDiv {
	width: 90%;
	padding-top: 90%;
	overflow: hidden;	
	position: absolute;
	top: 5%;
	left: 5%;
	cursor: zoom-in;
	border: 1px solid #D7D7D7;
}
#loupe {
	width: 30%;
	height: 30%;
	position: absolute;
/*	top: 0%;
	left: 0%;
*/	border: 1px solid grey;
	z-index: 20;
	display: none;
	background-color: white;
	opacity: .2;	
}
/*#bigImageDiv:hover #loupe {
	display: initial;
}	
*/#leftArrow {
	position: absolute;
	left: 3px;
	top: 38%;
	font-size: 25px;
	transition: opacity .9s, background-color .9s;
	opacity: 0;
	z-index: 10;
}
#rightArrow {
	position: absolute;
	right: 3px;	
	top: 38%;
	font-size: 25px;
	transition: opacity .9s, background-color .9s;
	opacity: 0;
	z-index: 10;
}
#leftSide:hover #leftArrow {
	opacity: 1;	
}
#leftSide:hover #rightArrow {
	opacity: 1;	
}
#imageList {
	width: 90%;
	padding-top: 19%;
	overflow: hidden;	
	position: absolute;	
	top: 82.7%;
	left: 5%;	
	border: 1px solid #D7D7D7;
}
.bigImageWrapper {
	width: 100%;
	height: 100%;
	position: absolute;	
	top: 0%;
	/*border: 1px solid green;*/
	transition: left 1s;
}
.smallImageWrapper {
	width: 20%;
	height: 100%;
	position: absolute;	
	top: 0%;
	padding: 1px;
	/*border: 1px solid green;*/
	transition: left 1s;	
}
.itemImage {
	max-width: 100%;
	max-height: 100%;
}
#rightSide{
	width: 49%;
	padding-top: 61%;
	margin: -1px;
	display: inline-block;
	/*border: 1px solid black;*/
	position: relative;
	top: 0%;
	overflow: auto;
}
#loupeImageDiv {
	width: 90%;
	padding-top: 90%;
	overflow: hidden;	
	position: absolute;
	top: 5%;
	left: 5%;
	/*border: 1px solid red;*/
	display: none;
	z-index: 20;
	background-color: white;
}
#loupeImageFragment {
	position: absolute;
}
#dataDiv {
	width: 90%;	
	overflow: hidden;	
	position: absolute;
	top: 5%;
	left: 5%;
	border: 1px solid #D7D7D7;
	padding-left: 10px;
}
#nameDiv {
	font-size: 1.2rem;
	font-weight: bold;
}
#priceDiv b {
	font-size: 1.2rem;
	color: black;
}
.buyButton {
	transition: box-shadow .7s;	
	margin-top: 10px;
	margin-bottom: 10px;
}
.buyButton:hover {
	box-shadow: 0px 3px 3px 3px #82A800;
}
.buyButton i {
	font-size: 20px;
}	
.compareButton {
	transition: box-shadow .7s;	
	margin-top: 10px;
	margin-bottom: 15px;
}
.compareButton:hover {
	box-shadow: 0px 3px 3px 3px #82A800;
}
#bigCompareList {
	display: none;
}
#dataDiv div {
	margin-top: 15px;
	text-align: left;
}
#socNetwork {
	margin-bottom: 15px;
}
#socNetwork span {
	padding-top: 10px;
	padding-bottom: 10px;
}	
#socNetwork i {
	font-size: 30px;
	padding:  3px;
}	
#discountDiv {
	position: absolute;
	display: inline-block;
	background-color: #82A800;
	color: white;
	font-size: 20px;
	border-radius: 50%;
	top: 15%;
	right: 5%;
	padding: 10px;
	z-index: 2;
}
#viewList {
	list-style: none;
	display: block;
	background-color: 
	margin: 0px;
	text-align: left;
}
#viewList li {
	display: inline-block;
	padding: 10px;
	transition: color .5s, background-color .5s;
	margin-left: -3px;
	margin-right: -3px;
}
#detailDiv div {
	text-align: left;
	padding: 30px;
	opacity: 0;
    animation: dropDetail 1s;
    animation-fill-mode: forwards;
}
@keyframes dropDetail {
    from { opacity: 0; }
    to { opacity: 1; }
}
#detailDiv table {
	border-collapse: collapse;
}
#detailDiv td {
	padding: 10px;
	border: 1px solid #D7D7D7;
}
#detailDiv th {
	padding: 10px;
	border: 1px solid #D7D7D7;
	text-align: center;
}
@media only screen and (max-width: 900px) {
	#smallCompareList {
		display: none;
	}
	#bigCompareList {
		display: initial;
	}
}	
@media only screen and (max-width: 740px) {
	#leftSide{
		width: 100%;
		padding-top: 122%;
		display: block;		
	}	
	#rightSide{
		width: 100%;		
		padding-top: 100%;
		display: block;		
	}	
}