<!-- ################################################################################ -->
<div id='panelDiv' class='glOverlay'>
	<div id='logoWrapper'>
		<img id='logoImage' src='images/logo.jpg'>
	</div>
	<div id='additionalWrapper'>
		<div id='topBar'>
			<a routerLink='/invitation'>
			<span id='homeNavButton' class='navButton glBGGreenHover glClickable'>
				<i class='fa fa-home'></i>
				<span>Home</span>
			</span>
			</a>
			<span id='backNavButton' class='navButton glBGGreenHover glClickable' (click)='back()'>
				<i class='fa fa-mail-reply'></i>
				<span>Back</span>
			</span>
			<span id='forwardNavButton'  class='navButton glBGGreenHover glClickable' (click)='forward()'>
				<i class='fa fa-mail-forward'></i>
				<span>Forward</span>
			</span>
			<span class='navButton glBGGreenHover glClickable' (click)='scrollDown()'>				
				<i class='fa fa-envelope-o'></i>
				<span>Contact</span>
			</span>
		</div>
		<div id='searchBar'>
			<form ngNativeValidate (ngSubmit)='searchItem(searchKey.value)'>
				<input id='searchInput' type='text' placeholder='Search term...' #searchKey required>
				<button type=submit><i class='fa fa-search glClickable'></i></button>
			</form>
		</div>
		<div id='basketBar' class='glClickable' (click)='gotoBasket()'>
			<ng-container *ngIf='total>0'>
				<span>{{total.toFixed(2)}}$</span>
			</ng-container>
			<i class='fa fa-shopping-cart glCGreenHover' *ngIf='total==0'></i>
			<i class='fa fa-cart-arrow-down glCGreenHover' *ngIf='total>0'></i>
		</div>
	</div>	
</div>
<div id='categoryTree' #treeElement>
	<span *ngFor='let categoryNode of categoryNodes;' class='mainCategorySpan glBGGreenHover' #nodeElement>
		<span class='glClickable mainCategoryInnerSpan' (click)='gotoCategory(categoryNode.category)'>
			{{categoryNode.category.name}}
		</span>
		<div class='subMenuContainer'  
			style.width='{{categoryNode.submenuWidth}}px'
			style.left='-{{(nodeElement.offsetLeft-treeElement.offsetLeft+categoryNode.submenuWidth<mainAreaWidth?0:(nodeElement.offsetLeft-treeElement.offsetLeft+categoryNode.submenuWidth-mainAreaWidth))}}px'
		>
			<div *ngFor='let subCategory of categoryNode.nodes;' class='subMenu' style='{{colWidth-3}}px'>
				<span (click)='gotoCategory(subCategory.category)'
					  [ngClass]="{'glClickable': true, 'indColor':subCategory.itemCount>0 }">
					  {{subCategory.category.name}} <ng-container *ngIf='subCategory.itemCount>0'>({{subCategory.itemCount}})</ng-container>					  
				</span>
				<ul>
					<li *ngFor='let lowCategory of subCategory.nodes;'						

						style.height='{{(lowCategory.itemCount>0||mainAreaWidth>=1000?"initial":"0px")}}'
						style.padding='{{(lowCategory.itemCount>0||mainAreaWidth>=1000?"initial":"0px")}}'
						style.margin='{{(lowCategory.itemCount>0||mainAreaWidth>=1000?"initial":"0px")}}'

					    [ngClass]="{'lowMenuItem': true, 'glClickable': true, 'indColor':lowCategory.itemCount>0 }"
					    (click)='gotoCategory(lowCategory.category)'					    
					    >

						<ng-container *ngIf='lowCategory.itemCount>0||mainAreaWidth>=1000'>
							{{lowCategory.category.name}}
							<ng-container *ngIf='lowCategory.itemCount>0'>({{lowCategory.itemCount}})</ng-container>
						</ng-container>	
					</li>
				</ul>
				<br>
			</div>
		</div>		
	</span>
	<span id='filterdiv' class='mainCategorySpan' *ngIf='showFilter'>
		<span id='filterSign' class='glBGGreenHover mainCategoryInnerSpan'>
			<i class='fa fa-filter'></i>
		</span>
		<div class='subMenuContainer'>
			Price:
			<input type='number' [(ngModel)]='lowPrice' (input)='filterByPropertis()'>	
			-
			<input type='number' [(ngModel)]='highPrice' (input)='filterByPropertis()'>	
			<div *ngFor='let property of propertyList;' class='propertyName'>
				{{property.name}}:
				<div *ngFor='let value of property.values;' class='glClickable valueRow' (click)='toggleFilter(property,value)'>
					<span  *ngIf='value.selected'>
						<i class='fa fa-check-square glCGreen isSelected'></i>
					</span>	
					<span  *ngIf='!value.selected'>
						<i class='fa fa-plus-square glCGreen tobeSelected'></i>
					</span>	
					<span  *ngIf='value.selected'>
						<i class='fa fa-minus-square glCGreen tobeUnSelected'></i>
					</span>							
					<cite>{{value.value}}</cite>
				</div>
			</div>
		</div>
	</span>
</div>
<div id='selectedProperties' class='glBgGrey' *ngIf='selectedProperties.length>0||lowPrice>0||highPrice>0'>
	<span class='selectedProperty'>
		<span class='glClickable selectedValue' *ngIf='lowPrice>0' (click)='cleanLowPrice()'>
			{{lowPrice}}<=Price
			<i class='fa fa-times-rectangle glCGreen'></i>	
		</span>
	</span>
	<span class='selectedProperty'>
		<span class='glClickable selectedValue' *ngIf='highPrice>0' (click)='cleanHighPrice()'>
			Price<={{highPrice}}
			<i class='fa fa-times-rectangle glCGreen'></i>	
		</span>
	</span>
	<span *ngFor='let selectedProperty of selectedProperties;' class='selectedProperty'>
		{{selectedProperty.name}}:
		<span class='glClickable selectedValue' *ngFor='let selectedValue of selectedProperty.values;' (click)='cleanSelectedValue(selectedProperty,selectedValue)'>
			{{selectedValue.value}}
			<i class='fa fa-times-rectangle glCGreen'></i>
		</span>
	</span>
</div>
<div id='pathDiv' class='glBgGrey' *ngIf='categoryPath.length>0' >
	<span *ngFor='let pathElement of categoryPath;let i=index;'>
		<i class='fa fa-angle-double-right' *ngIf='i>0'></i>
		<span class='pathElementSpan glCGreenHover glClickable' (click)='goPath(pathElement)'>		
			{{pathElement.name}}
		</span>			
	</span>
</div>
<!-- ################################################################################ -->
<div id='outlerDiv'>
	<router-outlet>
	</router-outlet>
</div>
<!-- ################################################################################ -->
<div id='contactDiv' class='glBgGrey'>
	<div id='contactBlock'>
		<div class="contactSection">
	      <h6 class="title headerFont">get in touch with us</h6>
	      <ul id="contactList">
	        <li><i class="fa fa-map-marker"></i>
	          <address>
	          	 Lviv, Vyhovsky street 79/1, 79049/555
	          </address>
	        </li>
	        <li><i class="fa fa-phone"></i>
	        	+08 (232) 456-43-23<br>
	            +08 (232) 456-36-86
	        </li>
	        <li><i class="fa fa-fax"></i>
	            +08 (232) 456-36-86
	        </li>
	        <li><i class="fa fa-envelope-o"></i>
	        	hike.spirit@gmail.com
	        </li>
	      </ul>
	    </div>
	    <div class="contactSection">
	    	<h6 class="title headerFont">We are in Ukraine</h6>
    		<ul id='middleList'>
    			<li>Lviv</li>
    			<li>Kiyv</li>
    			<li>Odessa</li>
    			<li>Kharkiv</li>
    		</ul>
	    </div>
		<div class="contactSection">
	      <h6 class="title headerFont">Hike-Spirit news</h6>
	      <p>Are you passion about hiking and nature, our community shares impressions</p>
	      <form ngNativeValidate (ngSubmit)='subscribe()'>
	        <fieldset>
	          <input class="btmspace-15" type="text" value="" placeholder="Name" required>
	          <input class="btmspace-15" type="email" value="" placeholder="Email" required>
	          <button type="submit" value="submit" class='glBgGreen'>Subscribe</button>
	        </fieldset>
	      </form>
	    </div>
	</div>
</div>
<!-- ################################################################################ -->
<div id='messageBox' class='glBgWhite' *ngIf='messageShown'>
	<i class='fa fa-times-rectangle glCGreen glClickable' (click)='hideMessage()'></i>
	<span>{{message}}</span>
</div>
<!-- ################################################################################ -->
<div id="copyright" class='glContainer'> 
	<p>Copyright &copy; 2017 - All Rights Reserved - Hike-Spirit</p>
</div>
<div id="backtotop" class='glClickable' (click)='scrollTop()'><i class='fa fa-chevron-up glBgGreen'></i></div>