<!-- ################################################################################ -->
<div id='panelDiv' class='glOverlay'>
	<div id='logoWrapper'>
		<img id='logoImage' src='images/logo.jpg'>
	</div>
	<div id='additionalWrapper'>
		<div id='topBar'>
			<a routerLink='/invitation'>
			<span id='homeNavButton' class='navButton glBGGreenHover glClickable'>
				<i class='fa fa-home'></i>
				<span>Home</span>
			</span>
			</a>
			<span id='backNavButton' class='navButton glBGGreenHover glClickable' (click)='back()'>
				<i class='fa fa-mail-reply'></i>
				<span>Back</span>
			</span>
			<span id='forwardNavButton'  class='navButton glBGGreenHover glClickable' (click)='forward()'>
				<i class='fa fa-mail-forward'></i>
				<span>Forward</span>
			</span>
			<span class='navButton glBGGreenHover glClickable' (click)='scrollDown()'>				
				<i class='fa fa-envelope-o'></i>
				<span>Contact</span>
			</span>
		</div>
		<div id='searchBar'>
			<form ngNativeValidate (ngSubmit)='searchItem(searchKey.value)'>
				<input id='searchInput' type='text' placeholder='Search term...' #searchKey required>
				<button type=submit><i class='fa fa-search glClickable'></i></button>
			</form>
		</div>
		<div id='basketBar' class='glClickable' (click)='gotoBasket()'>
			<ng-container *ngIf='total>0'>
				<span>{{total.toFixed(2)}}$</span>
			</ng-container>
			<i class='fa fa-shopping-cart glCGreenHover' *ngIf='total==0'></i>
			<i class='fa fa-cart-arrow-down glCGreenHover' *ngIf='total>0'></i>
		</div>
	</div>	
</div>
<div id='categoryTree'>
	<span *ngFor='let categoryNode of categoryNodes;' class='mainCategorySpan'>
		<span class='glClickable glBGGreenHover mainCategoryInnerSpan' (click)='gotoCategory(categoryNode.category)'>
			{{categoryNode.category.name}}
		</span>
		<div class='subMenuContainer glBgGrey'  style.width='{{202*categoryNode.nodes.length}}px'>
			<div *ngFor='let subCategory of categoryNode.nodes;' class='subMenu'>
				<span class='glClickable' (click)='gotoCategory(subCategory.category)'>
					{{subCategory.category.name}} ({{subCategory.itemCount}})
				</span>
				<ul>
					<li *ngFor='let lowCategory of subCategory.nodes;' 
					    [ngClass]="{'lowMenuItem': true, 'glClickable': true, 'whiteColor':lowCategory.itemCount>0 }"
					    (click)='gotoCategory(lowCategory.category)'>
						{{lowCategory.category.name}} ({{lowCategory.itemCount}})
					</li>
				</ul>
				<br>
			</div>
		</div>		
	</span>
	<span id='filterdiv' class='mainCategorySpan'>
		<span class='glBGGreenHover mainCategoryInnerSpan'>
			<i class='fa fa-filter whiteColor'></i>
		</span>	
		<div class='subMenuContainer glBgGrey'>
			<div *ngFor='let property of propertyList;'>
				{{property.id}}-{{property.name}}:
				<div *ngFor='let value of property.values;' class='glClickable valueRow' (click)='addToFilter(property,value)'>
					<span  *ngIf='value.selected'>
						<i class='fa fa-check-square glCGreen isSelected'></i>
					</span>	
					<span  *ngIf='!value.selected'>
						<i class='fa fa-plus-square glCGreen tobeSelected'></i>
					</span>	
					<span  *ngIf='value.selected'>
						<i class='fa fa-minus-square glCGreen tobeUnSelected'></i>
					</span>							
					{{value.value}}
				</div>
			</div>
		</div>
	</span>
</div>
<div id='selectedProperties' class='glBgGrey' *ngIf='selectedProperties.length>0'>
	<span *ngFor='let selectedProperty of selectedProperties;'>
		{{selectedProperty.name}}:
		<span class='glClickable' *ngFor='let selectedValue of selectedProperty.values;'>
			<i class='fa fa-times-rectangle glCGreen'></i>
			{{selectedValue.value}}
		</span>
	</span>
</div>
<div id='pathDiv' class='glBgGrey' *ngIf='categoryPath.length>0' >
	<span *ngFor='let pathElement of categoryPath;let i=index;'>
		<i class='fa fa-angle-double-right' *ngIf='i>0'></i>
		<span class='pathElementSpan glCGreenHover glClickable' (click)='goPath(pathElement)'>		
			{{pathElement.name}}
		</span>			
	</span>
</div>
<!-- ################################################################################ -->
<div id='outlerDiv'>
	<router-outlet>
	</router-outlet>
</div>
<!-- ################################################################################ -->
<div id='contactDiv' class='glBgGrey'>
	<div id='contactBlock'>
		<div class="contactSection">
	      <h6 class="title headerFont">get in touch with us</h6>
	      <ul id="contactList">
	        <li><i class="fa fa-map-marker"></i>
	          <address>
	          	 Lviv, Vyhovsky street 79/1, 79049/555
	          </address>
	        </li>
	        <li><i class="fa fa-phone"></i>
	        	+08 (232) 456-43-23<br>
	            +08 (232) 456-36-86
	        </li>
	        <li><i class="fa fa-fax"></i>
	            +08 (232) 456-36-86
	        </li>
	        <li><i class="fa fa-envelope-o"></i>
	        	hike.spirit@gmail.com
	        </li>
	      </ul>
	    </div>
	    <div class="contactSection">
	    	<h6 class="title headerFont">We are in Ukraine</h6>
    		<ul id='middleList'>
    			<li>Lviv</li>
    			<li>Kiyv</li>
    			<li>Odessa</li>
    			<li>Kharkiv</li>
    		</ul>
	    </div>
		<div class="contactSection">
	      <h6 class="title headerFont">Hike-Spirit news</h6>
	      <p>Are you passion about hiking and nature, our community shares impressions</p>
	      <form ngNativeValidate (ngSubmit)='subscribe()'>
	        <fieldset>
	          <input class="btmspace-15" type="text" value="" placeholder="Name" required>
	          <input class="btmspace-15" type="text" value="" placeholder="Email" required>
	          <button type="submit" value="submit" class='glBgGreen'>Subscribe</button>
	        </fieldset>
	      </form>
	    </div>
	</div>
</div>
<!-- ################################################################################ -->
<div id="copyright" class='glContainer'> 
	<p>Copyright &copy; 2017 - All Rights Reserved - Hike-Spirit</p>
</div>
<div id="backtotop" class='glClickable' (click)='scrollTop()'><i class='fa fa-chevron-up glBgGreen'></i></div>