#panelDiv {
	max-width: 1000px;
	margin: auto;
	/*border: 1px solid white;*/
	text-align: left;
	vertical-align: top;
}
#logoImage {
	margin: 5px;	
	height: 70px;
	border-radius: 5px;
}
#contactBar {
	margin-top: 5px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid white;*/
}
#searchBar {
	margin: 3px;
	padding: 5px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	vertical-align: middle;
}
#searchBar input {
	width: 300px;
	background-color: inherit;
	color: #FFFFFF;
	border: none;
}
#searchBar ::-webkit-input-placeholder {
  color: #FFFFFF;
}
#basketBar {
	display: inline-block;
	/*border: 1px solid white;*/
	vertical-align: bottom;
	padding: 0px 5px 5px 5px;	
	float: right;
}
#basketBar i {
	font-size: 30px;
	transition: color .5s, transform .5s;
}
#basketBar:hover i {
	transform: scale( 1.15 );
}	
#outlerDiv {
	width: 100%;
	max-width: 100%;
	min-height: 100vh; 
	margin: auto;	
}
#contactDiv {
	margin: auto;
	max-width: 100%;
}
#contactBlock {
	margin: auto;
	width: 90%;
	max-width: 100%;
	/*border: 1px solid white;*/
}
.contactSection {	
	max-width: 250px;
	height: 350px;
	display: inline-block;
	margin: 0 auto;
	/*border: 1px solid white;*/
	padding: 10px;
	vertical-align: top;
}
.contactSection ul {	
	padding-left: 2px;
	/*border: 1px solid white;*/
}
#contactList li{ 
	display: block;
	margin-bottom: 15px;
	margin-left: 0;
	padding: 0 0 15px 40px;
	border-bottom: 1px solid;
	text-align: left;
	position: relative;
}
#contactList li:last-child { 
	margin: 0;
	padding: 0;
	padding-left: 40px;
	border: none;
}
#contactList li i{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:30px;
	font-size:16px;
	text-align:center;
}
.contactSection .title {
	margin: 0 0 50px 0;
	padding: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #FFFFFF;
}
#middleList {
	list-style: none;
}
#middleList li{ 
	display: block;
	margin-bottom: 15px;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #888888;
	color: #82A800;
	text-align: left;
}
#middleList li:last-child { 
/*	margin: 0;
	padding: 0;
	border: none;
*/}
fieldset { 
	margin: 0;
	padding: 0;
	border: none;
}
.contactSection input { 
	color:#FFFFFF;
	background-color:#2E2E2E;
	border: 1px solid #2E2E2E;
	display:block;
	width:100%;
	padding:8px;
}
.contactSection input:focus { 
	border-color:#82A800;
}
.contactSection button { 
	color:#FFFFFF;
	background-color:#82A800;
	margin-left: 0;
	padding:8px 18px 10px;
	text-transform:uppercase;
	font-weight:700;
	border: none;
	cursor:pointer;
}
#copyright {
	padding: 1px;
	margin: auto;
	max-width: 100%;
}
#backtotop { 
	z-index: 999;
	display: inline-block;
	position: fixed;
	/*visibility:hidden;*/
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	opacity: .2;
	text-decoration: none;
}
#backtotop i { 
	display: block;
	width: 100%;
	height: 100%;
	line-height: 36px;
	border: none;
}
#backtotop.visible { 
	visibility: visible;
	opacity: .5;
}
#backtotop:hover { 
	opacity: 1;
}
:host /deep/ .headerFont {
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

:host /deep/ * {
	box-sizing: border-box;
}
:host /deep/ .glLeft {
	float: left;
}
:host /deep/ .glRight {
	float: right;
}
:host /deep/ .glOverlay {
	color: #FFFFFF;
	background-color: rgba( 0, 0, 0, .55 );
}
:host /deep/ .glContainer { 
	color:#888888;
	background-color: #FFFFFF;
}
:host /deep/ .glBgGreen {
	color: #FFFFFF; 
	background-color: #82A800; 
	border-color: #82A800;
}
:host /deep/ .glBgGrey { 
	color: #888888;
	background-color: #1F1F1F;
}
:host /deep/ .glBgWhite {
	color: #000000; 
	background-color: rgba( 255, 255, 255, .75 );
}
:host /deep/ .glBGGreenHover:hover {
	color: #FFFFFF; 
	background-color: #82A800; 
	border-color: #82A800;
}
:host /deep/ .glCWhite {
	color: #FFFFFF; 
}
:host /deep/ .glCBlack {
	color: #000000; 
}
:host /deep/ .glCGreen {
	color: #82A800; 
	border-color: #82A800;
}
:host /deep/ .glCGreenHover:hover {
	color: #82A800; 
}
:host /deep/ .glClickable:hover {
	cursor: pointer;
}
:host /deep/ .glFont-xs { font-size:.8rem; }
:host /deep/ .glFont-x1 { font-size:1.2rem; }
:host /deep/ .glFont-x2 { font-size:1.8rem; }
:host /deep/ .glFont-x3 { font-size:2.8rem; }
:host /deep/ .glBtn{
	display: inline-block;
	padding: 15px 25px 17px;
	text-transform: uppercase;
	border: 1px solid;
	border-radius: 0 15px;
}
:host /deep/ .glBtn.medium{ 
	padding: 10px 20px 12px;
}
:host /deep/ .glBtn.small{ 
	padding: 8px 18px 10px;
	text-transform:none;
}
:host /deep/ input:focus, textarea:focus, *:required:focus { 
	border-color:#82A800;
}

:host /deep/ input, :host /deep/ textarea, :host /deep/ select { 
	font-family:Verdana, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6, { font-family:Georgia, "Times New Roman", Times, serif;}

:host /deep/ .btmspace-10{margin-bottom:10px;}
:host /deep/ .btmspace-15{margin-bottom:15px;}
:host /deep/ .btmspace-30{margin-bottom:30px;}
:host /deep/ .btmspace-50{margin-bottom:50px;}
:host /deep/ .btmspace-80{margin-bottom:80px;}

:host /deep/ .inspace-5{padding:5px;}
:host /deep/ .inspace-10{padding:10px;}
:host /deep/ .inspace-15{padding:15px;}
:host /deep/ .inspace-30{padding:30px;}
:host /deep/ .inspace-50{padding:50px;}
:host /deep/ .inspace-80{padding:80px;}