#panelDiv {
	max-width: 1000px;
	margin: auto;
	padding: 10px;
	/*border: 1px solid red;*/
	text-align: left;
	vertical-align: top;
	overflow: auto;
}
#logoWrapper {
	/*border: 1px solid;*/
	display: inline-block;	
	float: left;
}
#logoImage {
	margin: 5px;	
	width: 200px;
	height: 100px;	
	border-radius: 5px;
}
#additionalWrapper {
	/*border: 1px solid;*/
	height: 115px;
	word-break: break-all;
	vertical-align: top;
}
#topBar {
	height: 69px;
	padding: 5px;
	/*text-align: right;*/
	/*border: 1px solid white;*/
}
#topBar a {
	text-decoration: none;
}	
.navButton {
	width: 170px;
	color: white;
	border: 1px solid;
	padding: 15px 0px;
	display: inline-block;
	margin-left: 15px;
	border-radius: 5px;
	text-align: center;
	transition: color .8s, background-color .8s;
}
.navButton i {
	font-size: 15px;
	/*font-weight: bold;	*/
}
#searchBar {
	margin: 3px 3px 3px 15px;
	padding: 5px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	vertical-align: top;
}
#searchBar input {	
	background-color: inherit;
	color: #FFFFFF;
	border: none;
	vertical-align: top;
}
#searchBar ::-webkit-input-placeholder {
  color: #FFFFFF;
}
#searchBar i {
	transition: color .5s;
}
#searchBar i:hover {
	transform: scale(1.1);
}	
#searchBar button {
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
}
#basketBar {
	display: inline-block;
	/*border: 1px solid white;*/
	vertical-align: bottom;
	padding: 0px 17px 5px 5px;	
	float: right;
}
#basketBar i {
	font-size: 30px;
	transition: color .5s, transform .5s;
}
#basketBar:hover i {
	transform: scale( 1.15 );
}	
#categoryTree {
	max-width: 1000px;
	margin: 0 auto;
	background-color: black;
	text-align: left;
}
.mainCategorySpan {	
	display: inline-block;
	color: white;
	position: relative;
}
.mainCategorySpan:last-child {
	float: right;
}
.mainCategorySpan:last-child i {
	font-size: 20px;
}
.mainCategoryInnerSpan {
	padding: 10px;
	display: inline-block;
	color: white;
	text-transform: capitalize;
	position: relative;
	transition: .7s, box-shadow .7s;
}
.subMenuContainer {
	position: absolute;
	top: 100%;
	display: none;
	z-index: 20;
	overflow: auto;
	border-top: 10px solid #82A800;
}
.whiteColor {
	color: white;
}
.mainCategorySpan:hover .subMenuContainer {
	display: initial;
}
.subMenuContainer ul {
	list-style-type: none;
}
.subMenuContainer li {
	text-align: left;
	font-size: .8rem;
}	
.subMenu {
	width: 200px;
	position: relative;	
	padding: 5px;
	text-align: left;
	display: inline-block;	
	vertical-align: top;	
	/*border: 1px solid red;*/
}
#filterdiv .subMenuContainer {
	width: 250px;
	top: 0%;
	right: 0%;	
	text-align: left;
}
.valueRow {
	position: relative;
	padding-left: 20px;
}
.valueRow span {	
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0%;
	left: 0%;
	display: inline-block;
}
.valueRow .tobeSelected {
	display: none;
}
.valueRow .tobeUnSelected {
	display: none;
}
.valueRow:hover .tobeSelected {
	display: initial;
}
.valueRow:hover .tobeUnSelected {
	display: initial;
}
.valueRow:hover .isSelected {
	display: none;
}

#selectedProperties {
	max-width: 1000px;
	margin: auto;
	border-bottom: 1px solid #D7D7D7;
	text-align: left;
}
.selectedProperty {
	padding: 5px;
	display: inline-block;
}
.selectedValue {
	display: inline-block;
	padding: 3px 7px 3px 7px;	
	border-radius: 5px;
	margin-left: 5px;
	background-color: rgba( 0, 0, 0, .5 );
}
#pathDiv {
	margin: 0 auto;
	max-width: 1000px;
	padding: 10px;	
	text-align: left;
	border-bottom: 1px solid #D7D7D7;
	transition: color .5s;
}
#pathDiv span:first-child span {
	text-transform: capitalize;
}
.pathElementSpan {
	transition: color .5s;
}
#outlerDiv {
	width: 100%;
	max-width: 100%;
	min-height: 100vh; 
	margin: auto;	
}
#contactDiv {
	margin: auto;
	max-width: 100%;
}
#contactBlock {
	margin: auto;
	width: 90%;
	max-width: 100%;
	/*border: 1px solid white;*/
}
.contactSection {	
	max-width: 250px;
	height: 350px;
	display: inline-block;
	margin: 0 auto;
	/*border: 1px solid white;*/
	padding: 10px;
	vertical-align: top;
}
.contactSection ul {	
	padding-left: 2px;
	/*border: 1px solid white;*/
}
#contactList li{ 
	display: block;
	margin-bottom: 15px;
	margin-left: 0;
	padding: 0 0 15px 40px;
	border-bottom: 1px solid;
	text-align: left;
	position: relative;
}
#contactList li:last-child { 
	margin: 0;
	padding: 0;
	padding-left: 40px;
	border: none;
}
#contactList li i{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:30px;
	font-size:16px;
	text-align:center;
}
.contactSection .title {
	margin: 0 0 50px 0;
	padding: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #FFFFFF;
}
#middleList {
	list-style: none;
}
#middleList li{ 
	display: block;
	margin-bottom: 15px;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #888888;
	color: #82A800;
	text-align: left;
}
#middleList li:last-child { 
/*	margin: 0;
	padding: 0;
	border: none;
*/}
fieldset { 
	margin: 0;
	padding: 0;
	border: none;
}
.contactSection input { 
	color:#FFFFFF;
	background-color:#2E2E2E;
	border: 1px solid #2E2E2E;
	display:block;
	width:100%;
	padding:8px;
}
.contactSection input:focus { 
	border-color:#82A800;
}
.contactSection button { 
	color:#FFFFFF;
	background-color:#82A800;
	margin-left: 0;
	padding:8px 18px 10px;
	text-transform:uppercase;
	font-weight:700;
	border: none;
	cursor:pointer;
}
#copyright {
	padding: 1px;
	margin: auto;
	max-width: 100%;
}
#backtotop { 
	z-index: 999;
	display: inline-block;
	position: fixed;
	/*visibility:hidden;*/
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	opacity: .2;
	text-decoration: none;
}
#backtotop i { 
	display: block;
	width: 100%;
	height: 100%;
	line-height: 36px;
	border: none;
}
#backtotop.visible { 
	visibility: visible;
	opacity: .5;
}
#backtotop:hover { 
	opacity: 1;
}
:host /deep/ .headerFont {
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

:host /deep/ * {
	box-sizing: border-box;
}
:host /deep/ .glLeft {
	float: left;
}
:host /deep/ .glRight {
	float: right;
}
:host /deep/ .glOverlay {
	color: #FFFFFF;
	background-color: rgba( 0, 0, 0, .55 );
}
:host /deep/ .glContainer { 
	color:#888888;
	background-color: #FFFFFF;
}
:host /deep/ .glBgGreen {
	color: #FFFFFF; 
	background-color: #82A800; 
	border-color: #82A800;
}
:host /deep/ .glBgGrey { 
	color: #888888;
	background-color: #1F1F1F;
}
:host /deep/ .glBgWhite {
	color: #000000; 
	background-color: rgba( 255, 255, 255, .75 );
}
:host /deep/ .glBGGreenHover:hover {
	color: #FFFFFF; 
	background-color: #82A800; 
	border-color: #82A800;
}
:host /deep/ .glCWhite {
	color: #FFFFFF; 
}
:host /deep/ .glCBlack {
	color: #000000; 
}
:host /deep/ .glCGreen {
	color: #82A800; 
	border-color: #82A800;
}
:host /deep/ .glCGreenHover:hover {
	color: #82A800; 
}
:host /deep/ .glClickable:hover {
	cursor: pointer;
}
:host /deep/ .glFont-xs { font-size:.8rem; }
:host /deep/ .glFont-x1 { font-size:1.2rem; }
:host /deep/ .glFont-x2 { font-size:1.8rem; }
:host /deep/ .glFont-x3 { font-size:2.8rem; }
:host /deep/ .glBtn{
	display: inline-block;
	padding: 15px 25px 17px;
	text-transform: uppercase;
	border: 1px solid;
	border-radius: 0 15px;
}
:host /deep/ .glBtn.medium{ 
	padding: 10px 20px 12px;
}
:host /deep/ .glBtn.small{ 
	padding: 8px 18px 10px;
	text-transform:none;
}
:host /deep/ input:focus, textarea:focus, *:required:focus { 
	border-color:#82A800;
}

:host /deep/ input, :host /deep/ textarea, :host /deep/ select { 
	font-family:Verdana, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6, { font-family:Georgia, "Times New Roman", Times, serif;}

:host /deep/ .btmspace-10{margin-bottom:10px;}
:host /deep/ .btmspace-15{margin-bottom:15px;}
:host /deep/ .btmspace-30{margin-bottom:30px;}
:host /deep/ .btmspace-50{margin-bottom:50px;}
:host /deep/ .btmspace-80{margin-bottom:80px;}

:host /deep/ .inspace-5{padding:5px;}
:host /deep/ .inspace-10{padding:10px;}
:host /deep/ .inspace-15{padding:15px;}
:host /deep/ .inspace-30{padding:30px;}
:host /deep/ .inspace-50{padding:50px;}
:host /deep/ .inspace-80{padding:80px;}
@media only screen and (max-width: 1010px) {
	.navButton {
		width: 15%;
		padding: 15px 0px;
	}	
}	
@media only screen and (max-width: 750px) {
	#panelDiv {
		padding: 5px;
	}
	#logoWrapper {
		display: none;
	}
	#additionalWrapper {
		margin:  0px;
		padding: 0px;
		height: auto;
	}
	#searchBar {
		margin: 0 0 0 5px;
	}
	#topBar {
		height: auto;
		padding-bottom: 5px;
	}
	.navButton {
		width: 24%;
		margin: 0% .5% 0% 0%;
		margin: auto;
		padding: 5px 15px;
	}
}
@media only screen and (max-width: 530px) {
	#panelDiv {
		padding: 2px;
	}	
	#searchBar {
		margin: 0 0 0 5px;
	}	
	.navButton {
		width: 23.5%;
	}
	.navButton span {
		display: none;
	}	
	#basketBar span {
		display: none;
	}
}	
@media only screen and (max-width: 315px) {
	.navButton {
		width: 23%;
	}
}