#basketDiv {
	min-height: 100vh;
	min-width: 600px;
}
#emptyRow {
	padding: 10px;
	margin: 0px;
}
#mainTable {
	border-collapse: collapse; 	
}
#mainTable tr {
	background-color: rgb( 240,240,240);
	/*#F7F7F7*/
	color: #888888;
	transition: background-color 1s;
}
#mainTable tr input {
	width: 50px;
	font-size: 20px;
	text-align: right;
}	
#mainTable td {	
	border-bottom: 1px solid #888888;
}
#mainTable tr:last-child td:last-child {
	color: black;
	padding: 10px;
}	
#mainTable i {	
	font-size: 25px;
	transition: transform .2s;
}
#mainTable i:hover {	
	transform: scale(1.1);
}
#mainTable tr:hover {
	background-color: rgb( 255,255,255);
}
.nameTd:hover {
	text-decoration: underline;
}
form {
	padding-top: 20px;
	background-color: white;
	color: #888888;
}
.fieldDiv {
	width: 29.333333%;
	/*margin: -2px;*/
	float:left; margin:0 0 0 3%;	
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin: auto;*/
	display: inline-block;
	/*border: 1px solid;*/
}
.fieldDiv input {
	margin-top: 5px;
	padding: 7px;
	font-size: .9rem;
	width: 100%;
	outline: none;
	border: 1px solid;
	transition: border-color .5s;
	border-color: #D7D7D7;
}
.fieldDiv input:focus {
	border-color: #82A800;
}	
.fieldDiv textarea:focus {
	border-color: #82A800;
}
.fieldDiv label {
	text-align: left;
	display: block;
}
.fieldDiv label span { 
	color: #FF0000;
}
form textarea {
	width: 94%;
	margin-top: 5px;
	margin-bottom: 15px;
	border-color: #D7D7D7;
	outline: none;
	transition: border-color .5s;
}
form textarea:focus {
	border-color: #82A800;
}	
#areaDiv {
	float: none;
}
#areaDiv label {
	text-align: left;
	padding-left: 3%; 
	display: block;
}	
#orderButton {
	border-radius: 0% 0%;
	transition: background-color .5s, color .5s;
	font-size: 1rem;
}
#addData {

}
.dataBlock {	
	/*border: 1px solid black;*/
	display: inline-block;
	margin-left: 0 0 0 3%;
	width: 47%;	
}
.dataBlock th {
	padding: 5px;
}
#carriers td {
	padding: 5px 5px 5px 0;
}
#carriers tr td:first-child {
	text-align: left;
}
#carriers tr td:last-child {
	text-align: right;
}
#paymetns td {
	padding: 5px;
}
#paymetns tr td:first-child {
	text-align: left;
}
.bottomBlock {
	text-align: left;
	padding: 5px 5px 20px 3%;
}
.bottomBlock b {
	color: black;
}
.bottomBlock input {
	/*float: right;*/
}