<div id='basketDiv' class='glOverlay'>
<p id='emptyRow' *ngIf='orderRows.length==0' >Your basket is empty</p>
<div id='mainTableWrapper'> 
<table id='mainTable' *ngIf='orderRows.length>0'>
	<tr *ngFor='let row of orderRows'>
		<td style='width: 20%;'>
			<img src='images/{{row.item.mainImage}}' class='glClickable' (click)='gotoItem(row.item)'>			
		</td>
		<td style='width: 30%;' class='nameTd'>
			<span class='glClickable' (click)='gotoItem(row.item)'>{{row.item.name}}</span>
		</td>
		<td style='width: 15%;min-width: 120px;'>
			<i class='fa fa-minus-square glCGreen glClickable' (click)='deleteItem(row.item)'></i>
			<input id='quantityInput' class='' #quantityInput [ngModel]='row.quantity' (input)=addItem(row.item,quantityInput.value) />
			<i class='fa fa-plus-square glCGreen glClickable' (click)='addItem(row.item)'></i>
		</td>
		<td style='width: 10%;'>
			{{row.item.discountPrice.toFixed(2)}}$
		</td>
		<td style='width: 15%;'>
			{{row.total.toFixed(2)}}$
		</td>
	<tr>
	<tr>	
		<td colspan='3'></td>
		<td>Total:</td>
		<td><b>{{total.toFixed(2)}}$</b></td>
	</tr>
</table>
</div>
<form id='orderForm' ngNativeValidate (ngSubmit)='postOrder()'>
  <div class='fieldDiv'>
    <label for="name">Name <span>*</span></label>
    <input type='text' required placeholder='Your name...' required name='fieldName'>
  </div>
  <div class='fieldDiv'>
    <label for='email'>Mail <span>*</span></label>
    <input type='email' name='email' required placeholder='E-mail...'>
  </div>
  <div class='fieldDiv'>
    <label for='phone'>Phone <span>*</span></label>
    <input type='text' name='phone' required placeholder='Phone number...' pattern="[0-9]{3}-[0-9]{3}">
  </div>
  <div id='areaDiv'>
    <label for="comment">Your Comment</label>
    <textarea name='comment' id='comment' cols='25' rows='5' placeholder='Any your comment...'></textarea>
  </div>
  <div id='addData'>
  	<div class='dataBlock'>
  		<table id='carriers'>
  			<tr>
  				<th>
  				Shipment:
  				</th>
  			</tr>
			<tr *ngFor='let carrier of carrierList'>
				<td>
					<input type='radio' name='carrierType'
					       value='carrier.id' [checked]='carrier.id===selectedCarrier.id' (click)='selectCarrier(carrier)'>
					{{carrier.name}}		
				</td>	
				<td>
					{{carrier.cost.toFixed(2)}}$
				</td>
			</tr>	
		</table>
  	</div>
  	<div class='dataBlock'>
  		<table id='paymetns'>
  			<tr>
  				<th>
  				Payment type:
  				</th>
  			</tr>
			<tr>
				<td>
					<input type='radio' name='paymentType'
						   [checked]='paymentType=="card"'
					       value='card'>
					<i class='fa fa-cc-visa glCGreen'></i>
					/
					<i class='fa fa-cc-mastercard glCGreen'></i>
					Visa/MasterCard
				</td>	
			</tr>	
			<tr>
				<td>
					<input type='radio' name='paymentType'
						   [checked]='paymentType=="payPal"'
					       value='payPal'>
					<i class='fa fa-cc-paypal glCGreen'></i>
					PayPal
				</td>	
			</tr>	
			<tr>
				<td>
					<input type='radio' name='paymentType'
						   [checked]='paymentType=="cash"'
					       value='cash'>
					<i class='fa fa-money glCGreen'></i>
					Cash
				</td>	
			</tr>	
		</table>
  	</div>
  </div>
  <div class='bottomBlock' *ngIf='orderRows.length>0'>
  	Total (shipment included):
  	<b>{{totalPlusShipment.toFixed(2)}}$</b>
  </div>
  <div class='bottomBlock' *ngIf='orderRows.length>0'>
  	<button id='orderButton' type='submit' class='glBtn small glBGGreenHover glClickable'>Place order</button>
  </div>
</form>
</div>