<header class='glOverlay'>
	<nav>
		<ul>
			<li><span class='glCWhite glCGreenHover glClickable' (click)='articles()'>ARTICALES</span></li>
			<li><span class='glCWhite glCGreenHover  glClickable' (click)='scrollToQuote()'>ABOUT Hike-Spirit</span></li>
			<li><a routerLink='/category-list' class='glCWhite glCGreenHover'>SHOP</a></li>
			<li><span class='glCWhite glCGreenHover glClickable' (click)='scrollDown()'>CONTACTS</span></li>
		</ul>
	</nav>
    <div id="logo">         
        <h1>Hike Spirit</h1>
        <p>Spend time in another way...</p>
    </div>	
</header>
<!-- ################################################################################ -->
<div id="pageintro" class='glBgWhite' > 
	<article>
	    <h2 class='headerFont'>...“Because in the end, you won’t remember the time you spent working in the office or mowing your lawn. Climb that goddamn mountain”...</h2>
	    <div>Jack Kerouac</div>
	</article>
</div>
<!-- ################################################################################ -->
<div id='categoryDiv' class="glContainer">
	<div id='categoryBlock'>
    <div>
      <h2 class='headerFont'>Choose what you prefer</h2>
      <p>Winter or summer, climbing or boating, alone, with your friends or family - here below you can find all the fest equipment for best emotions and most unforgettable time of your life. Be inspired.</p>
    </div>
    <div *ngFor='let category of categoryList' class='categoryWrapper'>
    	<div class='categoryBox'>
			<div class='glBtn small glBGGreenHover glClickable' (click)='gotoItemList(category)'>    	
    			{{category.name}}
    		</div>
    		<img src='images/{{category.image}}'>
    	</div>
    </div>
    </div>
</div>
<!-- ################################################################################ -->
<div class='glOverlay'>
  <section id='testimonials'>     
    <div>
      <h2 class='headerFont'>We would really appreciate your feedback</h2>
      <p></p>
    </div>
    <ul class='glNoStyle'>
      <li>
        <div>
          <img src="images/face1.jpg" alt="foto 1" class='face'> <span><strong>A.Doe</strong> / <em>Accountant, "Brad's Drink"</em></span>
          <blockquote class=''>We walked the Inca trail and not knowing how we would do at altitude it was a pleasant surprise to feel fine.&hellip;</blockquote>
        </div>
      </li>
      <li>
        <div>
          <img src="images/face2.jpg" alt="foto 2" class='face'> <span><strong>B.Doe</strong> / <em>Designer, "Research in Motion"</em></span>
          <blockquote>Great experience. Beautiful views and sites throughout. The guide, camp chef, and porters work really hard to make the trip enjoyable.&hellip;</blockquote>
        </div>
      </li>
    </ul>    
  </section>
</div>
<!-- ################################################################################ -->
<div id='itemDiv' class="glContainer">
	<div id='itemBlock'>
	    <div>
	      <h2 class='headerFont'>Take a look into new admission</h2>
	      <p>To be up to date and better suit your needs we update our product range on regular basis. Please find recent renewals in the sector below.</p>
	    </div>
	    <div *ngFor='let item of itemList' class='itemWrapper'>
	    	<div class='itemBox'>
	    		<img src='images/{{item.mainImage}}'>
	    	</div>
	    	<div class='newItemName'>
	    		{{item.name}}
	    	</div>
			<div class='glBtn small glBGGreenHover glClickable itemButton' (click)='gotoItem(item)'>    	
				See detail...
			</div>
	    </div>
    </div>
</div>
<!-- ################################################################################ -->
<div id='brandDiv' class='glBgGreen' >
	<div class='brandWrapper'>
		<img src='images/brand1.png'>
	</div>
	<div class='brandWrapper'>
		<img src='images/brand2.png'>
	</div>
	<div class='brandWrapper'>
		<img src='images/brand3.png'>
	</div>
	<div class='brandWrapper'>
		<img src='images/brand4.png'>
	</div>
	<div class='brandWrapper'>
		<img src='images/brand5.png'>
	</div>
</div>