header {
	padding-top: 50px;
	padding-bottom: 40px;
	color: #FFFFFF;
}
nav ul {
	border-bottom: 1px solid #D7D7D7;
	max-width: 1000px;
	margin: auto;
}	
header li {
	display: inline-block;
	margin: 0 30px 0 0;
}
header li a {	
	display: block;
	padding: 20px 0;
	transition: color .5s;
	text-decoration: none;
}
header li span {	
	display: block;
	padding: 20px 0;
	transition: color .5s;
	text-decoration: none;
}

#logo h1{ 
	font-size: 52px;
	letter-spacing: 5px;
	text-transform: capitalize;
	margin-bottom: 0;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
#logo p{
	margin-top: -3px;
	font-size: .9rem;
	font-style: italic;
	text-transform: lowercase;
}
#pageintro {
	width: 90%;
	max-width: 600px;
	padding: 20px 0;
	margin: 120px auto 200px auto;
	border-radius:0 50px;
	padding-left: 30px; 
	padding-right: 30px;	
}
#pageintro article h2 { 
	margin-bottom: 30px;
	font-size: 25px;
	margin-top: 0px;
}
#pageintro article div {
	text-align: right;
}	
#pageintro #topP {
	margin-bottom: 0px;
}
#categoryDiv {
	padding-top: 50px;
	padding-bottom: 50px;
}
#categoryBlock {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	/*border: 1px solid black;*/
}
.categoryWrapper {
	width: 200px;
	height: 200px;
	margin: 1%;
	display: inline-block;
	position: relative;
}
.categoryBox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: background-color .4s;
	overflow: hidden;
}
.categoryBox:hover {
	background-color: grey;
}
.categoryBox div {
	transition: color .5s, background-color .5s, border-color .5s;	
	margin-top: 80px;
	position: relative;
	z-index: 10;
	text-transform: capitalize;
}
.categoryBox:hover div {
	color: white;
	border-color: white;
}	
.categoryBox div:hover {
	border-color: #82A800;
}
.categoryBox img {
	height: 100%;	
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 0;
	transition: opacity 1s;
	background-color: white;
}
.categoryBox:hover img {
	opacity: .5;
}
#testimonials {
	margin: auto;
	width: 90%;
	max-width: 1400px;
	padding: 30px 0;
	/*border: 1px solid white;*/
}
.face {
	width: 80px;
	height: 80px;	
}
#testimonials > div {
	/*border: 1px solid yellow;	*/
}
#testimonials li div {
	width: 95%;
	max-width: 550px;
}
#testimonials li div { 
	position: relative;
	min-height: 120px;
	padding: 20px 20px 20px 120px;
	border-radius: 0 35px;
	color: #000000;
	background-color:rgba(255,255,255,.75);
	text-align: left;
	transition: background-color .3s;
}
#testimonials li {
	display: inline-block;
	margin: 20px;
}	
#testimonials li div:hover { 
	color:#FFFFFF;
	background-color:#82A800;
}
#testimonials li img {
	position:absolute;
	left:20px;
}
#testimonials li span { 
	margin-bottom:5px;
	transition: color .4s;
}
#testimonials li span strong { 
	margin-bottom:5px;
	transition: color .5s;
}
#testimonials li span em { 
	font-size:.8rem;
	transition: color .5s;
}
#testimonials li blockquote { 
	display:block;
	position:relative;
	width:100%;
	margin:0;
	padding:0;
	transition: color .4s;
}
#itemDiv {
	padding-top: 50px;
	padding-bottom: 50px;
}
#itemBlock {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	/*border: 1px solid black;*/
}
.itemWrapper {
	width: 300px;
	height: 400px;
	margin: 1%;
	display: inline-block;
	border: 1px solid green;
	position: relative;
	border: 1px solid grey;
	vertical-align: top;
}
.itemBox {
	width: 100%;
	height: 75%;
	border-bottom: 5px solid #82A800;
	position: relative;
}
.itemBox img {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: .8;
	transition: opacity .5s;
}	
.itemBox img:hover {
	opacity: 1;
}	
.itemBox div {
	transition: color .5s, background-color .5s, border-color .5s;	
}
.newItemName {
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;	
}
.itemButton {
	margin-top: 15px;
	transition: color .5s, background-color .5s, border-color .5s;
}
#brandDiv {

}
.brandWrapper {
	width: 200px;
	height: 75px;
	margin: 30px;
	display: inline-block;
	background-color: inherit;
	color: black;
	transition: color .5s, background-color .5s, border-color .5s;
}
.brandWrapper img {
	max-width: 100%;
	height: 100%;
}
@media only screen and (max-width: 570px) {
	header {
		padding-top: 10px;
	}
	header li {
		display: block;
	}	
}	