<div id='itemList' class='glOverlay'>
	<div id='sortingBar' class='glBgGrey'>
		Sorted by:
		<select #sortingValue value='nameUp' (change)='sortItemList(sortingValue.value)'>
			<option value='nameUp' class='glBGGreenHover'>
				&#xf063;
				Name
			</option>
			<option value='nameDown'>
				&#xf062;
				Name
			</option>
			<option value='priceUp'>
				&#xf063;
				Price
			</option>
			<option value='priceDown'>
				&#xf062;
				Price
			</option>
			<option value='rateUp'>
				&#xf063;
				Rate
			</option>
			<option value='rateDown'>
				&#xf062;
				Rate
			</option>
		</select>
	</div>
	<div id='emptyListMessage' *ngIf='itemList.length==0'>
		Unfortunately nothing was find according to your request please try another criteria
		<i class='fa-meh-o'></i>
	</div>
	<div *ngFor='let item of itemList;let i = index;' class='itemWrapper'>
		<div class='itemInner glBgWhite' style.animationDelay='{{i/20}}s'>
			<div class='fixedInner'>
				<i id='leftArrow' class='fa fa-chevron-left glCGreen glClickable' (click)='scrollImage(item,false)'></i>
				<i id='rightArrow' class='fa fa-chevron-right glCGreen glClickable' (click)='scrollImage(item,true)'></i>
				<div id='newDiv' *ngIf='item.newItem'>
					NEW
				</div>
				<div id='discountDiv' *ngIf='item.discount>0'>
					-{{item.discount}}%
				</div>
				<div class='imageDiv'>
					<div class='imageScrollDiv' *ngIf='item.imageList.length<=1'>
						<img src='/images/{{item.mainImage}}' class='glClickable' (click)='gotoItem(item)'>
					</div>
					<ng-container *ngIf='item.imageList.length>1'>
						<div *ngFor='let image of item.imageList'
							  style.left='{{image.shift}}%'
						      class='imageScrollDiv'>
							<img src='/images/{{image.mediumImage}}' class='glClickable' (click)='gotoItem(item)'>
						</div>
					</ng-container>
				</div>
				<div class='rateDiv'>
					<span *ngFor='let rateElement of item.rateArray'>						
						<i class='fa fa-star glCGreen' *ngIf='rateElement==1'></i>
						<i class='fa fa-star-half-full glCGreen' *ngIf='rateElement>0&&rateElement<1'></i>
						<i class='fa fa-star-o glCGreen' *ngIf='rateElement==0'></i>
					</span>					
				</div>
				<div class='nameDiv glClickable' (click)='gotoItem(item)'>
					{{item.name}}
				</div>
				<div class='idDiv'>
					code:{{item.id}}
				</div>
				<div class='priceDiv'>
					<b>{{item.discountPrice.toFixed(2)}}$</b>
					<del *ngIf='item.discount>0'>
						{{item.price.toFixed(2)}}$
					</del>					
				</div>
				<div class='buyButton glBtn small glBgGreen glClickable' (click)='buyItem(item)'>Buy <i class='fa fa-cart-plus'></i></div>
			</div>	
		</div>	
	</div>
	<last-viewed-items></last-viewed-items>
</div>