#itemList {
	min-height: 100vh;
	text-align: left;
}
#sortingBar {	
	padding: 7px;	
	text-align: left;
	color: white;
	font-size: 15px;
	color: #888888;
	background-color: transparent;
}
#sortingBar {
	color: white;
}
#sortingBar select {
	padding: 3px;
	background-color:#2E2E2E;
	border: 1px solid #2E2E2E;	
	font-family: 'FontAwesome', 'sans-serif';
	font-size: 15px;
	color: white;
	outline: none;	
	background-color: rgba(31,31,31,1);	
}	
#emptyListMessage {
	padding: 10px;
}
#item-flex {
	display: flex;
	flex-wrap: wrap;
}
.itemWrapper {
	width: calc((100% - 4px) / 4);
	padding-top: 25%;
	margin-bottom: 1px;
	margin-right: 1px;
	position: relative;
	text-align: center;
}
.itemInner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	transition: width .1s, left .1s, background-color .1s;	
	background-color:#F7F7F7;
	overflow: hidden;
    animation: mymove 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes mymove {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fixedInner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	transition: width .1s, left .1s, background-color .1s;	
}
#newDiv {
	position: absolute;
	display: inline-block;
	background-color: #82A800;
	color: white;
	font-size: 20px;
	top: 0%;
	left: 0%;
	padding: 5px 15px 20px 5px;
	border-bottom-right-radius: 100%;
	z-index: 2;
}
#discountDiv {
	position: absolute;
	display: inline-block;
	background-color: #82A800;
	color: white;
	font-size: 20px;
	border-radius: 50%;
	top: 5%;
	right: 5%;
	padding: 5px;
	z-index: 2;
}
#leftArrow {
	position: absolute;
	left: -15%;
	top: 30%;
	font-size: 30px;
	transition: left .5s;
}
#rightArrow {
	position: absolute;
	right: -15%;	
	top: 30%;
	font-size: 30px;
	transition: right .5s;
}
.itemWrapper:hover #leftArrow {
	left: 3%;
	z-index: 2;
}
.itemWrapper:hover #rightArrow {
	right: 3%;
	z-index: 2;
}
.itemWrapper:hover .itemInner {
	width: 110%;
	height: 130%;
	left: -5%;
	background-color: rgb( 255, 255, 255 );	
	box-shadow: 5px 5px 5px 5px rgb( 100, 100, 100 );
	border-radius: 5px;
	z-index: 10;
}
.itemWrapper:hover .fixedInner {
	height: 77%;
}	
.imageDiv {
	height: 65%;
	margin: 0 auto;
	overflow: hidden;
}
.imageScrollDiv {
	width: 100%;
	height: 65%;
	padding: 5px;
	position: absolute;
	top: 0%;
	z-index: 0;
	transition: left 1s;
}	
.imageDiv img {
	max-height: 100%;
	max-width: 100%;
}
.nameDiv {
	height: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
	transition: text-decoration-line 5s;
}
.nameDiv:hover {
	text-decoration-line: underline;
}
.idDiv {
	font-size: .7rem;
}
.priceDiv {
	height: 10%;	
	margin: 0px;
	padding-top: 5px;
}
.priceDiv del {
	color: rgb( 150, 150, 150 );
}	
.rateDiv {
	height: 8%;
	margin: 0px;
}
.buyButton {
	margin-top: 15px;	
	transition: box-shadow .7s;	
}
.buyButton:hover {
	box-shadow: 0px 3px 3px 3px #82A800;
}
.buyButton i {
	font-size: 20px;
}
@media only screen and (max-width: 820px) {
	.itemWrapper {
		width: calc((100% - 3px) / 3);
		padding-top: 33.33%;
	}	
}
@media only screen and (max-width: 670px) {
	.itemWrapper {
		width: calc((100% - 2px) / 2);
		padding-top: 50%;
	}	
}
@media only screen and (max-width: 400px) {
	.itemWrapper {
		width: 100%;
		padding-top: 100%;
	}	
	.itemWrapper:hover .itemInner {
		width: 100%;
		height: 105%;
		left: 0%;
	}	
}