<div id='itemList' class='glOverlay'>
	<div *ngFor='let item of itemList;let i = index;' class='itemWrapper'>
		<div class='itemInner glBgWhite' style.animationDelay='{{i/10}}s'>
			<div class='fixedInner'>
				<i id='leftArrow' class='fa fa-chevron-circle-left glCGreen glClickable' (click)='scrollImage(item,false)'></i>
				<i id='rightArrow' class='fa fa-chevron-circle-right glCGreen glClickable' (click)='scrollImage(item,true)'></i>
				<div id='newDiv' *ngIf='item.newItem'>
					NEW
				</div>
				<div id='discountDiv' *ngIf='item.discount>0'>
					-{{item.discount}}%
				</div>
				<div class='imageDiv'>
					<div class='imageScrollDiv'>
						<img src='/images/{{item.mainImage}}' class='glClickable'>
					</div>
				</div>
				<div class='rateDiv'>
					<span *ngFor='let rateElement of item.rateArray'>						
						<i class='fa fa-star glCGreen' *ngIf='rateElement==1'></i>
						<i class='fa fa-star-half-full glCGreen' *ngIf='rateElement>0&&rateElement<1'></i>
						<i class='fa fa-star-o glCGreen' *ngIf='rateElement==0'></i>
					</span>					
				</div>
				<div class='nameDiv'>
					{{item.name}}
				</div>
				<div class='idDiv'>
					code:{{item.id}}
				</div>
				<div class='priceDiv'>
					<del *ngIf='item.discount>0'>
						{{item.price.toFixed(2)}}$
					</del>
					<b>{{item.discountPrice.toFixed(2)}}$</b>
					{{item.imageList.length}}
				</div>
				<div class='buyButton glBtn small glBGGreenHover glClickable'>buy <i class='fa fa-cart-plus'></i></div>
			</div>	
		</div>	
	</div>
</div>